## **Base de Datos a Visual Studio y Fuentes Públicas de BQ**

### Base de datos a VSCode

In [14]:
import sqlite3 
import pandas as pd
import os

Conexión a la base de datos

In [15]:
cwd = os.getcwd()
print(cwd)

c:\Users\juanf\Escritorio\BigData1S2024\GoogleCloudPlatform

In [16]:
conn = sqlite3.connect(r"c:\Users\juanf\Escritorio\BigData1S2024\Database\stock_db.db")
conn

Ver tablas de datos en bd

In [17]:
tablas = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'",conn)
tablas

                   name
0                  main
1                 main2
2  trabajo_practico_yhf

Tablas de las 5 acciones elegidas

In [18]:
tabla_stocks = pd.read_sql_query("SELECT * FROM main",conn)
tabla_stocks.head()

   index        Date      Close    Volume   Empresa
0      0  2019-06-21  56.268501  50774000  Alphabet
1      1  2019-06-24  55.834999  24236000  Alphabet
2      2  2019-06-25  54.379002  31644000  Alphabet
3      3  2019-06-26  54.015999  34698000  Alphabet
4      4  2019-06-27  53.831501  24078000  Alphabet

In [19]:
conn.close()

Se realizaron todos los ejercicios de Properati en GCP y se guardaron todas las queries allí.

# **Ejercicios de Visual Studio code a BigQuery**

La service account ya fue creada.

1. Descargar el JSON y leerlo

In [20]:
import pandas as pd
import json

In [21]:
with open('civil-array-427013-q6-dda9fd3c3b15.json') as f:
    json_service_account = json.load(f)
json_service_account

{'type': 'service_account',
 'project_id': 'civil-array-427013-q6',
 'private_key_id': 'dda9fd3c3b15e4b09ab1621851f8ac465d1eaae2',
 'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCybw5GBDvjrcw0\nLenPqRAOyM5OWqf5p3N5xheovh7uJCgti3o3jYCyvoQa890PBjdmTRF34O3jsHfu\nPmN7ErUvKpVsVEi7mf7Q/x2R8X4YbP9TuirvHZ68JYTnqsMmTbmtkYRvX5XXFoci\nFYLgSyGCOJLYePQ/TaWuzVd14diXoWFwGGEO/a1k0pUMyWLp/DcmjWtyZMZdbQOy\n+w5aQkk+ZsM92Hv4YZBbYpOCTWzueLzcxjTzsrjwVhyDEn9MnyoCbpWtU2tQR8m3\nITRzn5PWNdPdwKTsjudwCMgEFnh18q6BNRVl5dkR+ZkeXAGy/UI+I0V/2NufqBrh\n+MVLdaMbAgMBAAECggEAQFWtak5Nf6Zi2a9yPXbh/MqnI/Yo2WloR9BGKIfAJDHy\nMJW5D72b2Ra7D/K8UhX2NJL2COiXLUCrxUFGYhIZNLPgY0oyXT3Fc/p/4WaWhd0K\n5Ffb8hIWcRUACf12VmGw4GV2wCdRIdeUCpSB9zfvkYGvZJCb1BU9dzy/W5f+HZEt\nyPXBoqlhgSfdl598BXECnQctM7fd88VLFVUwqV0SFW01EgIYSY5rXBlfgI/Y1WXT\nOESB81Xv44RuSmLZndfHLLQHofQNxedALiIkW4ha2Piu8lmGYMqkbLX866S5afD/\nb+rSyOH8TYOquBtMRg8n7jzwF1apPfg8sZrF5cscwQKBgQDuFgO84FQE68GrWyau\nij7sw2I6mX8OG81g/+IP/9/z3oYjsKHYnyfYbgF6pArvKOdzY1/S3XYUnuykrSuI\nLJF7K9aX1z49VFJ8eufFgd+vJqpuv+HO5rXyhvT0wNUBLugj/5hioFXg+c1854wX\nTjqeM5L8CfyXrB66AhbhMhgLWwKBgQC/3AcPW5BPc0KvxT5+pj8Gr5Je2sgdPkHJ\n0GfkQOqeipkLKZ2OnFxqPK+6hZHL87lEr0OBpHBLqL8CZdybqyrf8BFEpv8bxdp3\nFoIMPBFkieQSS+Sq6UidNMI6appaJ3YV0Kt2d8nG4aEZA+BXUyJhVSPqymfSVw1C\nBXGlbfkTQQKBgAbsmPs7QvZJrP5AzmUxHBdir06o/Cr64AQ8LOTuOiMri5cqIerc\n5hnDSUO51Z+S/vg6IaVOT4rV/GflqWhyc2Czq7AK0IKUGzoHkQoLdufvJfHGntiX\nmR8Okb00hn1cUeAKJPJpW1YJrdI+IbLj0YycT2AJIlF+7f3W5bdy74QVAoGAP+8D\nT0PU6BThoQ8ajzu4/vJc1U0UqGIJrEXNiQt045YN/+FDRrWmOiS07nP6LLuv/kpl\nNXtljGDUHelxxVIZvHwUVQtNMaUR8uNGPOt7ZERrAwnVTnrknrZpDuxdOTOzLvvV\nV2n9jE+9zkczaAYlC8hCasg+JqKpoVmNEHKAMMECgYA4rIYN/yu43U7YNbv0FH6V\nkNkD+YipwYydJcNTa/5lNPZM3tD3Iuhx9DRyVPErGJWS9Ai7OZk03AVHwOutXiKd\nfa5TsN3/8dZOmjBmguMfcouQF0AY/zF7/IDIQRnqDw9s9NEOqoe8sFMoKFoBl50v\nxhRWGie58FkUH4E97UiyTA==\n-----END PRIVATE KEY-----\n',
 'client_email': 'ucema-clase@civil-array-427013-q6.iam.gserviceaccount.com',
 'client_id': '108213269793391419356',
 'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
 'token_uri': 'https://oauth2.googleapis.com/token',
 'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
 'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/ucema-clase%40civil-array-427013-q6.iam.gserviceaccount.com',
 'universe_domain': 'googleapis.com'}

### Clase 13

Instalé pip install google_oauth2_tool

In [22]:
# Generamos conexion a Big Query

from google.oauth2 import service_account # Para generar conexion con BigQuery

#bq_cred = service_account.Credentials.from_service_account_file('../local/tokens/gcp_token2.json')
bq_cred = service_account.Credentials.from_service_account_file('civil-array-427013-q6-dda9fd3c3b15.json')

bq_cred

Veamos nuevamente que hay en la tabla de acciones

In [23]:
tabla_stocks.head()

   index        Date      Close    Volume   Empresa
0      0  2019-06-21  56.268501  50774000  Alphabet
1      1  2019-06-24  55.834999  24236000  Alphabet
2      2  2019-06-25  54.379002  31644000  Alphabet
3      3  2019-06-26  54.015999  34698000  Alphabet
4      4  2019-06-27  53.831501  24078000  Alphabet

### Carga de datos en BQ

Vamos a enviar el dataframe a BigQuery - Podemos crear o reemplazar una tabla

Importamos la librería pandas_gbq para interactuar con BigQuery desde pandas

In [24]:
import pandas_gbq

In [26]:
id_del_proyecto=json_service_account['project_id']

*Con .to_gbq(): Write a DataFrame to a Google BigQuery table.*

Cargamos el df de acciones de EEUU de la base de datos stock_db en una tabla de BQ.

In [28]:
pandas_gbq.to_gbq(tabla_stocks, 'Test.Clase13', project_id=id_del_proyecto,if_exists='replace',credentials=bq_cred)

1. Con pandas_gbq.to_gbq cargamos los datos desde el df en pandas a una tabla en BQ.

2. Tabla_stocks es el df que tiene la data que quiero llevar a BQ.

3. Test.Clase13 es el identificador de la tabla en BQ. Dataset es Test y tabla es Clase13.

4. El id del proyecto es el que se encuentra en la bd de BQ.

5. Agregamos el parámetro de replace para eliminar existente y crear una nueva. 
BQ.

Con dicho code, pudimos exitosamente subir al cloud, nuestra base de datos.

* Para renombrar una columna, para cuando incluyan espacios: 

    main_table = main_table.rename(columns={'Adj Close': 'Adj_Close'})

    pandas_gbq.to_gbq(main_table, 'Test.clase13', project_id= 'fantina-v1',
                   if_exists= 'replace', credentials = bq_cred)

- Para anexar datos a la tabla: 

    pandas_gbq.to_gbq(main_table, 'Test.clase13', project_id= 'fantina-v1',
                   if_exists= 'append', credentials = bq_cred)

### Lectura de datos en BQ desde Python

In [1]:
# Si queremos leer una tabla

sql = """SELECT * FROM [civil-array-427013-q6.Test.Clase13]"""

df_bq = pd.read_gbq(sql, project_id=id_del_proyecto, credentials = bq_cred, dialect='standard') 

df_bq.head()

#Probando git add!

NameError: name 'pd' is not defined